*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-bar{
    width: 100%;
    height: 150px;
    background: #009688;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#behind-page{
    width: 100%;
    height: calc(100% - 150px);
    background: #d9dbd4;
    z-index: 0;
    position: absolute;
    top: 150px;
    left: 0;
}

#contenitor-page{
    width: 80vw;
    height: 90vh;
    margin-top: 5vh;
    margin-left: 10vw;
    z-index: 1;
    position: relative;
    display: flex;
}

#contenitor-side{
    width: 400px;
    height: 100%;
}

#side-page{
    width: 100%;
    height: calc(100% - 120px);
    background: white;
    overflow-y: scroll;
}

#search-box{
    width: 100%;
    height: 50px;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-account{
    width: 100%;
    height: 70px;
    background: #ededed;
    border-right: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
}

#contenitor-components{
    width: calc(100% - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    display: none;
}

#first-screen{
    width: calc(100% - 400px);
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 8px solid #4adf83;
}

#contenitor-fs-img{
    width: 350px;
    height: 350px;
    border-radius: 1800px;
    background: yellow;
    overflow: hidden;
}

#phone{
    height: 400px;
    margin-top: -12px;
}

.title{
    font-size: 40px;
    display: block;
    margin-top: 20px;
}

.subtitle{
    font-size: 20px;
    display: block;
    width: 700px;
    margin-top: 20px;
}

#top-page{
    width: 100%;
    height: 70px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
}

.messages{
    width: 100%;
    height: calc(100% - 140px);
    background-image: url(../img/sfondo2.png);
    background-size: contain;
    overflow-y: scroll;
    display: none;
}

#bottom-page{
    width: 100%;
    height: 70px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#account-image{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

#contenitor-buttons{
    width: 40%;
    height: 100%;
    display: flex;
}

.contenitor-image{
    width: 50px; 
    height: 50px;
    margin-left: 10px;
    border-radius: 30px;
    overflow: hidden;
}

#sora{
    width: 100px;
    margin-left: -25px;
}

.space-for-button{
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update{
    width: 30px;
    cursor: pointer;
}

#contenitor-search{
    width: 370px;
    height: 40px;
    border-radius: 20px;
    background: white;
    display: flex;
    align-items: center;
}

#search{
    width: 300px;
    height: 40px;
    border:none
}

#search-img{
    width: 15px;
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
}


.friends-account{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}

.friends-account:hover{
    background: #f5f5f5;
}

.name-account{
    font-size: 18px;
    display: block;
    padding-left: 20px;
}

.account-selected{
    font-size: 18px;
    display: block;
    padding-left: 20px;
}

#kairi{
    width: 50px;
}

#riku{
    width: 50px;
    margin-right: -5px; 
}

.seraphina{
    width: 100px;
    margin-left: -30px;
    margin-top: -10px;
}

#red-magnus{
    width: 50px;
}

#laharl{
    width: 80px;
    margin-left: -7px;
}

#flonne{
    width: 70px;
    margin-left: -20px;
    margin-top: -5px;
}

#prinny{
    width: 50px;
}

#killia{
    width: 50px;
}

#sephiroth{
    width: 150px;
    margin-left: -55px;
    margin-top: -5px;
}

#cloud{
    width: 100px;
    margin-left: -25px;
}

#steiner{
    height: 80px;
    margin-left: -40px;
    margin-top: -10px;
}

#vivi{
    width: 100px;
    margin-left: -30px;
    margin-top: -5px;
}

#contenitor-account-selected{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}

#contenitor-icons{
    width: 150px;
    height: 100%;
    display: flex;
}

#search-big{
    width: 20px;
    cursor: pointer;
}

#clip{
    width: 120px;
    cursor: pointer;
}

#menu-pointed{
    height: 30px;
    cursor: pointer;
}

.my-messages-contenitor{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.friend-messages-contenitor{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.my-messages{
    width: 400px;
    background: #dcf8c6;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 30px;
    padding: 20px;
}

.friend-messages{
    width: 400px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 20px;
}

.messages-written{
    font-size: 15px;
}

#emoji{
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}

#space-to-write{
    width: 80%;
    height: 40px;
    background: white;
    border-radius: 20px;
}

#write{
    width: 94%;
    margin-left: 3%;
    height: 40px;
    border: none;
}

#arrow{
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
}

@media screen and (max-width: 1350px) {
    #contenitor-page{
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        overflow-x: scroll;
    }
}

